@media (max-width:425px){
    .card{
        width: 375px;
    }

    .card-content > h1{
        margin-bottom: 26px;
    }

    .card-content > p {
        margin-bottom: 24px;
    }

    .plan-subscription-container{
        margin-bottom: 20px;
    }

    .proceed-to-payment{
        margin-bottom: 26px;
    }

    .main-content{
        padding: 13vh 0 13vh 0;
   }
}

@media (max-width:375px){
    .main-content{
        background: url(../images/pattern-background-mobile.svg) no-repeat;
        background-size: contain;
        background-color: var(--pale-blue);
    }

    .card{
        width: 70%;
    }

    .main-content{
        padding: 8vh 0 8vh 0;
    }

   .card-content{
        padding: 6% 0 6% 0;
    }

   .card-content > h1{
        margin-bottom: 16px;
        font-size: 1.5rem;
    }

    .card-content > p {
        margin-bottom: 14px;
    }

    .plan-subscription-container{
        width: 85%;
        height: 60px;
        margin-bottom: 20px;
    }

    .annual-plan-container{
        margin-left: 5px;
    }
    
    .icon-music{
        width: 40px;
        height: 40px;
    }

    .proceed-to-payment{
        width: 85%;
        height: 40px;
        margin-bottom: 10px;
        font-size: 1rem;    
    }

    .cancel-order{
        font-size: 1rem;
    }

}



